.subscriber
{
	width:130px;
	display:inline-block;
	height:161px;
	border:#efefef 1px solid;
	border-radius:5px;
	margin:10px;
}
.subscriber .photo
{
	width:129px;
	height:129px;
	border-bottom:#efefef 1px solid;
	overflow:hidden;
	background-color: #000;
	text-align:center;
}
.subscriber .photo img
{
	height:130px;
	margin:auto;
}
.subscriber .actions
{
	height:30px;
	width:130px;
	padding:2px;	
	display:block;
	position:relative;

}
.subscriber .actions .name
{
	color:#337ab7;
	font-size:12px;
	font-weight:bold;
	vertical-align: top;
	cursor:pointer;

}
.subscriber .actions .prof_btn
{
	color:#712;
	font-size:12px;
	font-weight:bold;	
	vertical-align: top;

}

.profile_pop
{
	width:300px;
	height:420px;
	border:1px #efefef solid;
	border-radius:5px;
	background-color:#fff;
	position:absolute;
	z-index:9999;
	top:0;
	left:0;
	margin-top:-230px;
	margin-left:-130px;
	overflow:hidden;
}

.profile_pop .photo
{
	width:299px;
	height:299px;
	overflow:hidden;
	border-bottom:2px #efefef solid;
	text-align:center;
	background-color: #000;

}

.profile_pop .photo img
{
	height:299px;
	margin:auto;
}
.profile_pop .info
{
	height:20px;
	width:300px;
	padding:3px;
	font-size:15px;
	font-weight:bold;
	color:#337ab7;
	display:table;
}
.profile_pop .info span
{
	color:#063e58;

}

.profile_pop .btns
{
	text-align:center;
	width:300px;
}
.profile_pop .btns .btn
{
	color:#fff;
	padding:5px;
	display:inline-block;
	font-size:15px;
	border-radius:10px;
	background-color:#f37e05;
	margin:auto;


}
.profile_pop .btns .btn:first-child
{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right:#efefef 1px solid;
}
.profile_pop .btns .btn:last-child
{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.media_set
{
	width:220px;
	height:260px;
	border:1px #efefef solid;
	border-radius:3px;
	display:inline-block;
	margin:10px;
	background-color: #fff;
	vertical-align: top;
}

.media_set .thumb
{
	width:219px;
	height:219px;
	border-bottom: 2px #efefef solid;
	background-color: #000;
	text-align:center;
	position: relative;
	overflow:hidden;
}

.media_set .thumb img
{
	height:219px;
	margin:auto;
	cursor: pointer;

}

.media_set .thumb .description
{
	background-color: rgba(0,0,0,0.40);
	color:#fff;
	position: absolute;
	bottom:0;
	right:0;
	left:0;
	height:30px;
	font-size:13px;
	text-overflow: ellipsis;

}

.media_set .reactions
{
	display:block;
	padding:5px;
	text-align: center;
}

.media_set .reactions span
{
	font-size:18px;
	color:#337ab7;
	font-weight:bold;
	display:inline-block;
	margin:0px 6px 0px 6px;
	cursor: pointer;

}

.event_container
{
	width:100%;
	height:370px;
	display:block;
	position:relative;
	border:1px solid #efefef;
	border-radius:5px;

}

.event_container .events
{
	height:368px;
	width:40%;
	display: inline-block;
	overflow-y:scroll;

}
.event_container .viewer
{
	height:368px;
	width:59%;
	display: inline-block;
	overflow-y:scroll;
}
.event_item
{
	height:65px;
	width:100%;
	border:#efefef 1px solid;
	position:relative;
}
.event_item .img_cont
{
	height:65px;
	width:65px;
	text-align: center;
	border-right:#efefef 1px solid;
	position: absolute;
	left:0;
	overflow: hidden;
	background-color: #000;
}
.event_item .img_cont img
{
	height:65px;
	margin:auto;
}
.event_item .title
{
 	font-size:16px;
 	color:#d10a07;
 	font-weight:bold;
 	position: absolute;
 	top:0;
 	left:0;
 	margin:5px 0px 0px 70px;
}

.event_item .actions
{
	position: absolute;
 	top:0;
 	left:0;
 	margin:29px 0px 0px 70px;
 	width:303px;
}

.event_item .actions .time
{
	position:absolute;
	left:0;
	font-size:13px;
	color:#000;
	border-radius:5px;
	border:1px solid #efefef;
	padding:3px;

}
.event_item .actions .button
{
	position:absolute;
	right:0;
	padding:3px;
	font-size:13px;
	text-transform: capitalize;
	background-color: #3c763d;
	color:#fff;
	border-radius:5px;
	border:1px solid #efefef;
	cursor:pointer;

}
.event_details
{
	display:block;
	vertical-align: top;
}

.event_details .title
{
	
	width:100%;
	padding:10px;
	background-color: #0a4d5d;
	font-size:20px;
	font-weight:bolder;
	color:#fff;
	text-align:center;
	border-bottom:2px #efefef solid;
}

.event_details .img_cont
{
	height:250px;
	width:100%;
	text-align: center;
	overflow: hidden;
	border-bottom: 10px #efefef solid;
	background-color: #000;
}
.event_details .img_cont img
{
	height:250px;
	margin:auto;
}
.event_details .info
{
	display:block;
	padding:10px;
}
.event_details .info .variable
{
	font-size:16px;
	font-weight:bolder;
	color:#676564;
	display:block;
	margin:5px;
}
.event_details .info .value
{
	font-size:16px;
	font-weight:400;
	color:#000;
}
.askaar_btns
{
	text-align:center;
	width:100%;
}
.askaar_btns .btn
{
	color:#fff;
	padding:8px;
	display:inline-block;
	font-size:15px;
	border-radius:10px;
	background-color:#f37e05;
	margin:auto;


}
.askaar_btns .btn:first-child
{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right:#efefef 1px solid;
}
.askaar_btns .btn:last-child
{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.payment
{
	vertical-align: top;
	border:1px solid #efefef;
	border-radius: 3px;
	display: inline-block;
	margin:10px;
	padding:10px;
	width:264.5px;
}

.payment .title
{
	display:block;
	font-size:17px;
	color:#f20;
	text-align: center;
	font-weight:bolder;
	text-transform: capitalize;;
}
.payment .description
{
	display: block;
	border:1px solid #efefef;
	padding:5px;
	font-size:15px;
	color:#000000;
	margin:5px 0px;

}

.transaction
{
	
	width:100%;
	border:1px #efefef solid;
	border-radius:3px;
	padding:5px;
	margin:5px 0px;
	display: block;
}

.transaction .img_cont
{
	height:39px;
	width:39px;
	border-radius:40px;
	border:1px #efefef solid;
	overflow:hidden;
	text-align: center;
	display: inline-block;
}

.transaction .img_cont img
{
	height:70px;
	margin:auto;
}

.transaction .title
{
	font-size:17px;
	font-weight: 600;
	color:#000;
	display: inline-block;	
	cursor: pointer;
	vertical-align: top;
	line-height: 2em;
}

.transaction .amount
{
	padding:5px;
	font-size:15px;
	background-color: #f20;
	margin:0px 5px;
	color:#fff;
	display: inline-block;
	vertical-align: top;
	line-height: 2em;
}

.transaction .status
{
	padding:5px;
	font-size:15px;
	background-color: #f20;
	margin:0px 5px;
	color:#fff;
	display: inline-block;
	vertical-align: top;
	line-height: 2em;
}

.transaction .date
{
	padding:5px;
	font-size:15px;
	background-color: #f20;
	margin:0px 5px;
	color:#fff;
	display: inline-block;
	vertical-align: top;
	line-height: 2em;
}

.bg_yellow
{
	background-color:#b5a010 !important;
}

.bg_green
{
	background-color:#0b901c !important;
}
.bg_grey
{
	background-color:#757272 !important;
}
.bg_red
{
	background-color:#c10d0d !important;
}

.comment_pop_pop
{
	
	width:100%;
	border:1px #efefef solid;
	border-radius:3px;
	padding:5px;
	margin:5px 0px;
	display: block;
}

.comment_pop .img_cont
{
	height:39px;
	width:39px;
	border-radius:40px;
	border:1px #efefef solid;
	overflow:hidden;
	text-align: center;
	display: inline-block;
}

.comment_pop .img_cont img
{
	height:70px;
	margin:auto;
}

.comment_pop .info
{
	display:inline-block;
	padding:0px 10px;
	vertical-align: top;

}

.comment_pop .info .name
{
	display:block;
	font-size:17px;
	color:#000;
	cursor: pointer;
	margin:0px 0px 4px 0px;
	font-weight: bold;
}
.comment_pop .info .comment
{
	word-wrap: break-all;
	font-size:14px;
	color:#999;
	line-height: 1.2em;
	display:block;
}

.comment_pop .info .extrainfo
{
	display:block;
	font-size:13px;
}
.comment_pop .info .extrainfo .date
{
	color:#f50;
	margin:0px 5px 0px 0px;
}
.comment_pop .info .extrainfo .editted
{
	color:#992009;

}

.reaction
{
	
	width:100%;
	border:1px #efefef solid;
	border-radius:3px;
	padding:5px;
	margin:5px 0px;
	display: block;
}

.reaction .img_cont
{
	height:39px;
	width:39px;
	border-radius:40px;
	border:1px #efefef solid;
	overflow:hidden;
	text-align: center;
	display: inline-block;
}

.reaction .img_cont img
{
	height:70px;
	margin:auto;
}

.reaction .title
{
	font-size:17px;
	font-weight: 600;
	color:#000;
	display: inline-block;	
	cursor: pointer;
	vertical-align: top;
	line-height: 2em;
}